<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlm.community.dao.UserMapper">
    <select id="selectAll" resultType="com.zlm.community.model.User">
        select * from user
    </select>
</mapper>