body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.publish-btn{
    margin-bottom: 15px;
    float: right;
}
.media-object{
    height: 38px;
    width: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.error-msg{
    color: #ff0000;
    font-size: 12px;
}